body {
    background-image: url('../images/bg/parabolic-ellipse.svg');
}

@media (min-width: 768px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .swiper {
        margin: 0 !important;
    }
} 
